<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>Ohana Radio</title>
  <script type="text/javascript" src="https://kit.fontawesome.com/73c8905fed.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
</head>
<body>
  <div class="container">
    <div id="title_row">
      <a id="sort_cmd" href="/?action=sort"><i class="fa fa-sort-alpha-down"></i></a>
      <h1>Station list</h1>
    </div>
    <ol id="mpc_pls"></ol>
  </div>

  <p id="song_title"></p>

  <div id="multimedia_ctrl">
    <div id="add_station" onclick="add_url();"><span title="Add new stream url"><i class="fa fa-plus-circle"></i></span></div>
    <p onclick="mpc_save();" title="Save playlist"><i class="fa fa-save"></i></p>
    <a href="/downloadpls" download="playlist.m3u" title="Download playlist"><i class="fa fa-download"></i></a>

    <form action = "/uploadpls" method = "POST" enctype = "multipart/form-data" id="pls_upload_frm">
      <input type = "file" name = "file" id = "file_upload"/>
      <label for = "file_upload"  title="Upload playlist"><i class="fa fa-upload"></i></label>
    </form>

    <p onclick="pwr_off();" title="Shutdown computer"><i class="fa fa-power-off"></i></p>

    <hr>
    <p onclick="volume_up();" title="Volume +"><i class="fa fa-volume-up"></i></p>
    <p onclick="volume_down();" title="Volume -"><i class="fa fa-volume-down"></i></p>
    <p onclick="mpc_stop();" title="Stop current"><i class="fa fa-stop"></i></p>
    <p onclick="bt_menu();" title="Open bluetooth menu"><i class="fa fa-bluetooth"></i></p>
  </div>

  <div id="bt_overlay">
    <p id="disconnect_btn" onclick="bt_disconnect();" title="Disconnect bluetooth device"><i class="fa fa-bluetooth-b"></i></p>
    <p id="search_btn" onclick="bt_list();" title="List available devices"><i class="fa fa-search"></i></p>
    <p id="close_btn" onclick="close_bt_overlay();" title="Close"><i class="fa fa-times-circle"></i></p>

    <i class="fas fa-spinner fa-spin" id="bt-busy"></i>
    <div id="bt_dev_list"></div>
  </div>

  <script type="text/javascript" src="{{url_for('static', filename='js/socket.io.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/custom.js')}}"></script>
</body>
</html>


